<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-top">
  <div class="container-fluid">
    <button class="btn navbar-toggler-icon" id="sidebarToggle"></button>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse navigation-bar"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <input
          class="form-control"
          type="search"
          placeholder="&#xf52a; Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-primary fw-bold button-search"
          type="submit"
        >
          Search
        </button>
        <div class="profile-user ms-3">
          <p class="fw-bold text-center mb-0" style="margin-top: 7px">F</p>
        </div>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Ferdian yusuf
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
